.footer {
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
    background-color: #fafafa;
}
.footer-contacts {
    font-size: 16px;
    margin-bottom: 15px;
}
.footer-privacy-policy {
    font-size: 16px;
    color: #2389db;
}