.form-section {
    padding-top: 100px;
    padding-bottom: 45px;
    background: url(assets/images/form-bg.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 150px auto;
    @include media-breakpoint-up(md) {
        background-size: 250px;
    }
    @include media-breakpoint-up(lg) {
        background-size: initial;
    }
}

.form-section__heading {
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 30px;
}

.form-section__sub-heading {
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}

.form {}

.form-group {
    text-align: center;

    &:not(:last-child) {
        margin-bottom: 20px;
    }
}

.form-label {
    display: block;
    font-size: 14px;
    margin-bottom: 10px;
}

.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    border: 1px solid #e6e6e6;
    border-radius: 3px;
}
.form-cta {
    margin-top: 40px;
    text-align: center;
}

/* purgecss start ignore */

.form-error {
    input {
        border-color: #ed3126;
    }
}
.form-error-text {
    margin-top: 10px;
    color: #ed3126;
}

/* purgecss end ignore */