.order-section {
    padding-top: 50px;
    padding-bottom: 70px;
    background-color: #282828;
}
.order-section__heading {
    text-align: center;
    margin-bottom: 40px;
    color: #fff;
}