.response-section {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #282828;
}

.response-section__heading {
    text-align: center;
    color: #fff;
    margin-bottom: 40px;
}