.card
    .card__top
        .card__image-wrapper.card__image-wrapper--short
            img(src!="assets/images/" + image + "-short.png", alt="").card__image
    .card__bottom
        .card__title PER LO SPORT
        .card__text Design ergonomico per un tilizzo confortevole in tutte le situazioni, anche durante lo sport. Utilizza le cuffie durante le tue sessioni di allenamento con xPower!
        .card__button ORDINA ORA